<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>

<!-- Los Alerts no impiden la busqueda ya que la consigna no lo especificaba. -->
<!-- El primer buscador predomina sobre los otros 2 ya que tiene mayor jerarquia. -->

<div class="container-fluid mt-3" id="app">
    <input type="text" class="form-control" v-model="criterioDeBusqueda" placeholder="Ingresar un criterio de busqueda...">
    <div v-if="verificacionCriterioBusqueda()" class="alert alert-warning mt-1">Completó menos de 3 caracteres</div>
    <br>
    <input type="text" class="form-control" v-model="criterioDeBusquedaNombre"
    placeholder="Ingresar un criterio de busqueda para nombre y apellido">
    <div v-if="verificacionCriterioNombre()" class="alert alert-warning mt-1">Completó menos de 3 caracteres</div>
    <br>
    <input type="text" class="form-control mt-2" v-model="criterioDeBusquedaDni"
    placeholder="Ingresar un criterio de busqueda por dni...">
    <div v-if="verificacionCriterioDni()" class="alert alert-warning mt-1">Completó menos de 3 caracteres</div>
    <br>
    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            criterioDeBusqueda: '',
            criterioDeBusquedaNombre: '',
            criterioDeBusquedaDni: '',
            //Aquí, en este array es donde tienen que agregar su información
            personas: [
                {
                    nombre: "Norbert",
                    apellido: "Degoas",
                    correo: "NorbertDegoas@elcondor.com",
                    dni: "11111111"
                },
                {
                    nombre: "John",
                    apellido: "Frusciante",
                    correo: "JohnFrusciante@hotmail.com",
                    dni: "22222222"
                },
                {
                    nombre: "John",
                    apellido: "Rambo",
                    correo: "JohnRambo@gmail.com",
                    dni: "33333333"
                },
                {
                    nombre: "Sarah",
                    apellido: "Connor",
                    correo: "sarahconnory@skynet.com",
                    dni: "44444444"
                },
                {
                    nombre: "Ellen",
                    apellido: "Ripley",
                    correo: "EllenRipley@nostromo.com",
                    dni: "11223344"
                },
                {
                    nombre: "Tyler",
                    apellido: "Durden",
                    correo: "TylerDurden@fightclub.com",
                    dni: "1232121"
                },
                {
                    nombre: "Lionel",
                    apellido: "Messi",
                    correo: "LionelMessi@fulbo.com",
                    dni: "44221133"
                },
                {
                    nombre: "Chandler",
                    apellido: "Bing",
                    correo: "msChanandlerBong@friends.com",
                    dni: "41324121"
                },
                {
                    nombre: "Jake",
                    apellido: "Peralta",
                    correo: "jakePeralta@nine-nine.com",
                    dni: "44112111"
                },
            ]

        },
        computed: {
            personasFiltradas() {
                if(this.criterioDeBusqueda != '') {
                    return this.personas.filter((persona) => {
                        let registroCompleto = `${persona.nombre} ${persona.apellido} ${persona.dni} ${persona.correo}`
                        return registroCompleto.toLowerCase().includes(this.criterioDeBusqueda.toLowerCase())
                    });
                }
                else {
                    let filtro1 = this.personas.filter((persona) => {
                            let nombreCompleto = `${persona.nombre} ${persona.apellido}`
                            return nombreCompleto.toLowerCase().includes(this.criterioDeBusquedaNombre.toLowerCase())
                    })
                    
                    return filtro1.filter((persona) => {
                        let documento = `dni ${persona.dni}`
                        return documento.includes(this.criterioDeBusquedaDni.toString())
                    });
                }
            },
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            },
            verificacionCriterioNombre() {
                return this.criterioDeBusquedaNombre.length > 0 && this.criterioDeBusquedaNombre.length < 3
            },
            verificacionCriterioDni() {
                return this.criterioDeBusquedaDni.length > 0 && this.criterioDeBusquedaDni.length < 3
            },
            verificacionCriterioBusqueda() {
                return this.criterioDeBusqueda.length > 0 && this.criterioDeBusqueda.length < 3
            }


        }
    });
</script>